@import "tailwindcss";

html {
  direction: rtl;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #fafaf9;
  color: #1c1917;
  font-family: Arial, "Noto Naskh Arabic", "Noto Sans Arabic", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}